/* Create a usable base CSS configuration (font size, borders, margins). */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

img {
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 24px;
  line-height: 36px;
}

h2 {
  font-size: 18px;
  line-height: 36px;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 12px;
}

h5 {
  font-size: 10px;
}

p, form table {
  margin: 0 0 18px;
}

ul {
  margin: 0 0 18px 15px;
}

form table th {
  vertical-align: top;
  padding: 0 5px 0 0;
  text-align: right;
}

form table td {
  vertical-align: top;
  padding: 0 0 7px;
  text-align: left;
}

label {
  white-space: nowrap;
  font-weight: bold;
}

input[type="text"], input[type="password"] {
  width: 170px;
  font-size: 12px;
}

input, textarea {
  padding: 2px 0 2px 2px;
}

input[type="submit"], button {
  padding: 1px;
}

select {
  padding: 2px;
}

span form {
  display: inline;
}

/* reset end */

#header, #footer {
  font-size: 11px;
}

#header {
  padding: 13px 0 0;
  margin: 0 auto 20px;
  overflow: hidden;
}

.columns {
  margin: 0 auto 0;
  overflow: hidden;
}

.column {
  float: left;
  padding: 0;
  margin: 0;
}

#footer {
  margin: 0 auto 0;
  padding: 40px 0;
}

#header, .columns, #footer {
  width: 970px;
}

#content {
  width: 700px;
}

#sidebar {
  margin-left: 20px;
  width: 250px;
}

/* custom css */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#header {
  height: 100px;
  border-bottom: 5px solid #36393D;
  margin-bottom: 50px;
}

#header a {
  color: #36393D;
}

#logo {
  float: left;
}
.menu {
  clear: both;
  float: right;
  margin-top: 50px;
  margin-bottom: 20px;
}

.menu li {
  display: inline;
  margin: 0 0 0 25px;
  list-style: none;
  font-size: 17px;
}

.menu li.active {
}

.post h1 {
  margin-bottom: 15px;
}

.post-footer {
  padding: 5px;
  background-color: #F9F7ED;

  -moz-border-radius: 5px;
}

.highlight {
  background-color: #F9F7ED;
  border: 1px solid #36393D;
  margin-bottom: 10px;
  padding: 5px;
}

#sidebar form {
  background-color: #F9F7ED;
  margin-bottom: 50px;
  padding: 10px;
  
  -moz-border-radius: 10px;
}

#follow-us-sidebar {
  margin-bottom: 50px;
}

.blogroll h3 {
  margin-bottom: 10px;
}

.blogroll ul {
  margin-left: 0px;
  list-style: none;
}

.blogroll ul li {
  margin: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

#footer {
  padding: 10px;
  margin-top: 50px;
  border-top: 5px solid #36393D;
}

#footer * {
  text-align: center;
}