/* Create a usable base CSS configuration (font size, borders, margins). */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

img {
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 24px;
  line-height: 36px;
}

h2 {
  font-size: 18px;
  line-height: 36px;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 12px;
}

h5 {
  font-size: 10px;
}

p, form table {
  margin: 0 0 18px;
}

ul, ol {
  margin: 0 0 18px 18px;
}

form table th {
  vertical-align: top;
  padding: 0 5px 0 0;
  text-align: right;
}

form table td {
  vertical-align: top;
  padding: 0 0 7px;
  text-align: left;
}

label {
  white-space: nowrap;
  font-weight: bold;
}

input[type="text"], input[type="password"] {
  width: 170px;
  font-size: 12px;
}

input, textarea {
  padding: 2px 0 2px 2px;
}

input[type="submit"], button {
  padding: 1px;
}

select {
  padding: 2px;
}

span form {
  display: inline;
}

/* reset end */

.highlight {
  margin-bottom: 18px;
}

#header, #footer {
  font-size: 11px;
}

#header {
  padding: 13px 0 0;
  margin: 0 auto 20px;
  overflow: hidden;
}

.columns {
  margin: 0 auto 0;
  overflow: hidden;
}

.column {
  float: left;
  padding: 0;
  margin: 0;
}

#footer {
  margin: 0 auto 0;
  padding: 40px 0;
}

#header, .columns, #footer {
  width: 970px;
}

.column {
  margin: 0px 10px;
}

#content {
  width: 665px;
}

#sidebar {
  width: 250px;
}

/* custom css */

body {
  color: #36393D;
}

a {
  color: #1985B5;
}

a:hover {
  text-decoration: underline;
}

#header {
  height: 100px;
  border-bottom: 5px solid #36393D;
  margin-bottom: 50px;
}

#header a, .post h1 a {
  color: #36393D;
  text-decoration: none;
}

.post h1 a:hover {
  text-decoration: underline;
}

#logo {
  float: left;
}

#search {
  display: inline;
  float:right;
}

.menu {
  clear: both;
  float: right;
  margin-top: 35px;
}

.menu li {
  display: inline;
  margin: 0 0 0 25px;
  list-style: none;
  font-size: 18px;
}

.menu li.active {
}

.post h1 {
  margin-bottom: 15px;
}

.post {
  padding-right: 15px;
  padding-left: 15px;
  line-height: 1.6em;
}

.post-footer {
  padding: 5px;
  background-color: #F0EDDE;
  margin-bottom: 50px;

  -moz-border-radius: 5px;
}

.tweetmeme-button {
 float:left;
 margin-right: 10px;
}

.highlight {
  background-color: #F0EDDE;
  border: 1px solid #36393D;
  margin-bottom: 18px;
  padding: 5px;
}

.sidebar-block {
  margin-bottom: 30px;
}

#sidebar form {
  background-color: #F0EDDE;
  padding: 10px;
  
  -moz-border-radius: 10px;
}

#follow-us-sidebar {
  margin-top: 8px;
}

#blogroll {
  padding-right: 20px;
  padding-left: 0px;
}

#blogroll h3 {
  margin-bottom: 15px;
}

#blogroll ul {
  margin-bottom: 10px;
  margin-left: 0px;
  list-style: none;
}

#blogroll ul li {
  padding: 7px 0;
}

#cse-search-form {
 width: 240px;
}

#footer {
  padding: 10px;
  margin-top: 20px;
  border-top: 5px solid #36393D;
}

#footer * {
  text-align: center;
}
