{% extends 'base.html' %}
{% load blog cms %}
{% block title %}{{ blog.title }}{% endblock %}

{% block blogfeeds %}{% blog_feed blog %}{% endblock %}

{% block sidebar %}
{% if blog.feedburner_id %}
<div class="sidebar-block">
<form action="http://feedburner.google.com/fb/a/mailverify" target="popupwindow" method="post" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri={{ blog.feedburner_id }}', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">

<a href="http://feeds.feedburner.com/{{ blog.feedburner_id }}" rel="alternate" title="Subscribe to blog" type="application/rss+xml"><img alt="" style="border:0" src="http://www.feedburner.com/fb/images/pub/feed-icon32x32.png"/></a><a href="http://feeds.feedburner.com/{{ blog.feedburner_id }}" rel="alternate" title="Subscribe to blog" type="application/rss+xml"><strong>Subscribe to blog</strong></a>

</form>
</div>

<div class="sidebar-block">
<form action="http://feedburner.google.com/fb/a/mailverify" target="popupwindow" method="post" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri={{ blog.feedburner_id }}', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">

<p>Or enter your email address:</p>
<p><input style="width:140px" name="email" type="text"/></p>
<input value="{{ blog.feedburner_id }}" name="uri" type="hidden"/>
<input value="en_US" name="loc" type="hidden"/>
<input value="Subscribe via e-mail" type="submit"/>

</form>
</div>
{% endif %}
{{ block.super }}
{% show_block 'blogroll' %}

<div id="recent-blog-posts" class="sidebar-block">
<h2>Recent posts</h2>
{% include 'blog/recent_posts.html' %}

<a href="{{ blog.get_absolute_url }}">Browse all posts &raquo;</a>
</div>
{% endblock %}
