{% extends 'blog/base.html' %}
{% load disqus_tags media simplesocial %}
{% block title %}{{ post.title }} - {{ block.super }}{% endblock %}

{% block extra-head %}
{{ block.super }}
<meta name="description" content="{{ post.rendered_content|striptags|truncatewords:20 }}" />
{% if review %}
<meta name="robots" content="noindex, noarchive" />
{% endif %}
{% endblock %}

{% block content %}
<div class="post post-detail">
{% if review %}
<div class="info"><strong>Review mode: Don't tweet this!!!</strong></div>
{% endif %}
{% include 'blog/post.html' %}

<div class="like-it">
<h4>Do you like this post?</h4>
<p>Subscribe for free to receive new posts via RSS or email. <a class="join-button" href="{{ blog.get_feed_url }}" rel="alternate" title="Receive updates (it's free!)" target="_blank" type="application/rss+xml">Join!</a></p>
</div>

<div class="share-this">
{% narrow_social_buttons request post.title post.get_absolute_url %}
</div>

<div class="post-footer">
{% block post-footer %}
By {{ post.author.get_full_name }} on {{ post.published_on|date }}
|
<a href="{{ blog.get_absolute_url }}">Browse all posts &raquo;</a>
{% endblock %}
</div>

{% disqus_num_replies %}
{% disqus_show_comments %}

<div class="finished-reading">
<strong>Finished reading?</strong> <a href="{{ blog.get_absolute_url }}">Browse all posts &raquo;</a>
</div>
</div>
{% endblock %}
