{% extends 'blog/base.html' %}
{% load disqus_tags %}
{% block title %}{{ post.title }} - {{ block.super }}{% endblock %}

{% block extra-head %}
{{ block.super }}
<meta name="description" content="{{ post.rendered_content|striptags|truncatewords:20 }}" />
{% endblock %}

{% block content %}
<div class="post post-detail">
{% include 'blog/post.html' %}

{% if blog.feedburner_id %}
<p class="like-it">
Do you like this post? Subscribe to receive new posts via RSS or email. <a class="join-button" href="http://feeds.feedburner.com/{{ blog.feedburner_id }}" rel="alternate" title="Receive updates" type="application/rss+xml">Join!</a>
</p>

<div class="feedflare">
<script charset="utf-8" type="text/javascript" src="http://feeds.feedburner.com/~s/{{ blog.feedburner_id }}?i={{ site_base_url|urlencode }}{{ post.get_absolute_url|urlencode }}"></script>
</div>
{% endif %}

<div class="post-footer">
{% block post-footer %}
By {{ post.author.get_full_name }} on {{ post.published_on|date }}
|
<a href="{{ blog.get_absolute_url }}">Browse all posts &raquo;</a>
{% endblock %}
</div>

{% disqus_num_replies %}
{% disqus_show_comments %}

<div class="finished-reading">
<strong>Finished reading?</strong> <a href="{{ blog.get_absolute_url }}">Browse all posts &raquo;</a>
</div>
</div>
{% endblock %}
