{% extends 'blog/base.html' %}
{% load disqus_tags %}
{% block title %}{{ post.title }} - {{ block.super }}{% endblock %}

{% block extra-head %}
{{ block.super }}
<meta name="description" content="{{ post.rendered_content|striptags|truncatewords:25 }}" />
{% endblock %}

{% block content %}
<div class="post post-detail">
{% include 'blog/post.html' %}

<div class="post-footer">
{% block post-footer %}
Posted by {{ post.author.get_full_name }} on {{ post.published_on|date }}
{% endblock %}
</div>

{% disqus_show_comments %}
</div>
{% endblock %}
