{% extends 'blog/base.html' %}
{% load disqus_tags %}
{% block title %}{{ block.super }}{% if blog.keywords.strip %} - {{ blog.keywords.strip }}{% endif %}{% endblock %}

{% block extra-head %}
{{ block.super }}
{% if page_obj.number == 1 %}
<meta name="description" content="{{ blog.description|striptags|truncatewords:20 }}" />
{% endif %}
{% endblock %}

{% block content %}
{% for post in object_list %}
  <div class="post post-in-list">
    {% include 'blog/post.html' %}
    <div class="post-footer">
      <a href="{{ post.get_absolute_url }}">Continue &raquo;</a>
      |
      By {{ post.author.get_full_name }} on {{ post.published_on|date }}
      |
      <a href="{{ post.get_absolute_url }}#disqus_thread">Comments</a>
    </div>
  </div>
{% endfor %}

<div class="pagenav">
  {% if page_obj.has_next %}
    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">&laquo; older</a>
  {% endif %}
  {% if page_obj.has_previous %}
    <a href="{{ request.path }}{% if page_obj.previous_page_number != 1 %}?page={{ page_obj.previous_page_number }}{% endif %}">newer &raquo;</a>
  {% endif %}
</div>

{% disqus_num_replies %}
{% endblock %}
