{% extends 'blog/base.html' %}
{% block title %}{{ blog.title }}{% endblock %}

{% block content %}
{% for post in object_list %}
  <div class="post post-in-list">
    {% include 'blog/post.html' %}
    Posted by {{ post.author.get_full_name }} on {{ post.published_on|date }} | <a href="{{ post.get_absolute_url }}#disqus_thread">Comment</a>
  </div>
{% endfor %}

<div class="pagenav">
  {% if has_previous %}
    <a href="{{ request.path }}?page={{ next }}">&lt;-older</a>
  {% endif %}
  {% if has_previous %}
    <a href="{{ request.path }}{% if previous %}?page={{ previous }}{% endif %}">newer->&gt;</a>
  {% endif %}
</div>
{% endblock %}
