<h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
<span class="tweetmeme-button">
<script type="text/javascript">tweetmeme_url = '{{ site_base_url|escapejs }}{{ post.get_absolute_url|escapejs }}';tweetmeme_service = 'bit.ly';{% if twitter_username %}tweetmeme_source = '{{ twitter_username|escapejs }}';{% endif %}</script>
<script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
</span>
{% if browse_posts %}
{{ post.rendered_content|truncatewords_html:150 }}
{% else %}
{{ post.rendered_content }}
{% endif %}
