{% extends 'base.html' %}
{% load simplesocial %}
{% block title %}{{ page.title }}{% endblock %}

{% block extra-head %}
{{ block.super }}
<meta name="description" content="{{ page.rendered_content|striptags|truncatewords:20 }}" />
{% endblock %}

{% block content %}
{% if request.path != '/' %}<h1>{{ page.title }}</h1>{% endif %}

{% if page.show_share_buttons %}
{% with page.title|add:' | '|add:site_name as title %}
{% wide_social_buttons request title page.get_absolute_url %}
{% endwith %}
{% endif %}

{{ page.rendered_content }}

{% if page.show_share_buttons %}
{% with page.title|add:' | '|add:site_name as title %}
{% narrow_social_buttons request title page.get_absolute_url %}
{% endwith %}
{% endif %}
{% endblock %}
