{% extends 'base.html' %}
{% block title %}Search{% endblock %}

{% block content %}
<div id="cse-search-results">
<script type="text/javascript">/* <![CDATA[ */
  var googleSearchIframeName = "cse-search-results";
  var googleSearchFormName = "search-form";
  var googleSearchFrameWidth = 600;
  var googleSearchDomain = "www.google.com";
  var googleSearchPath = "/cse";
/* ]]> */</script>
<script src="http://www.google.com/afsonline/show_afs_search.js" type="text/javascript"></script>
</div>
{% endblock %}
