<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  {% load cms blog %}
  <head>
    <title>{% block title %}{% endblock %} - {{ site_name }}</title>
    {% render_feeds %}

    {% block css %}
    {% endblock %}

    {% block js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
  </head>

  <body>
    <div id="header">
      <a id="logo" href="/">{{ site_name }} <span id="description">{{ site_description }}</span></a>
      <ul class="menu">
        {% render_menu %}
      </ul>
    </div>

    <div class="columns">
      <div id="content">
        {% block content-header %}
          {% if error %}<div class="error">{{ error }}</div>{% endif %}
          {% if info %}<div class="info">{{ info }}</div>{% endif %}
          {% if messages %}
            {% for message in messages %}
              <div class="info">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endblock %}
        {% block content %}{% endblock %}
      </div>

      <div id="sidebar">
        {% block sidebar %}
        {% endblock %}
      </div>
    </div>

    <div id="footer">
      <p>Copyright {% now "Y" %} {{ site_copyright }}</p>
    </div>
  </body>
</html>
