<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load media cms blog %}
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>{% block title %}{% endblock %} | {{ site_name }}</title>
    {% block blogfeeds %}
      {% blog_feeds %}
    {% endblock %}
    {% block css %}
      {% if google_custom_search_id %}
        <link rel="stylesheet" type="text/css" href="http://www.google.com/cse/style/look/greensky.css" />
      {% endif %}
      {% include_media 'main.css' %}
    {% endblock %}

    {% block preload_js %}
      {% if google_analytics_id %}
        <script type="text/javascript">
        /* <![CDATA[ */
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ google_analytics_id|escapejs }}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        /* ]]> */
        </script>
      {% endif %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
  </head>

  <body>
    <div id="header">
      <a id="logo" href="/"><img alt="All Buttons Pressed" src="http://lh5.ggpht.com/_8v0Ka-uUQOY/S7yqfkqywAI/AAAAAAAAAFk/2yLtGysnSiU/logo%20%282%29.png" /></a>
      {% if google_custom_search_id %}
        <div id="search">
          <div id="cse-search-form">Loading...</div>
          <script src="http://www.google.com/jsapi" type="text/javascript"></script>
          <script type="text/javascript">
            google.load('search', '1', {language : 'en'});
            google.setOnLoadCallback(function(){
              var customSearchControl = new google.search.CustomSearchControl('{{ google_custom_search_id|escapejs }}');
              customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
              var options = new google.search.DrawOptions();
              options.setSearchFormRoot('cse-search-form');
              customSearchControl.draw('cse', options);
            }, true);
          </script>
        </div>
      {% endif %}
      <ul class="menu">
        {% show_menu %}
      </ul>
    </div>

    <div class="columns">
      <div id="content" class="column">
        {% block content-header %}
          {% if error %}<div class="error">{{ error }}</div>{% endif %}
          {% if info %}<div class="info">{{ info }}</div>{% endif %}
          {% if messages %}
            {% for message in messages %}
              <div class="info">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endblock %}

        <div id="cse" style="width:100%; display:inline;"></div>

        {% block content %}{% endblock %}
      </div>

      <div id="sidebar" class="column">
        {% block sidebar %}
          {% show_block 'sidebar' %}
        {% endblock %}
      </div>
    </div>

    <div id="footer">
      <p>
        Copyright {% now "Y" %} {{ site_copyright }}<br />
        Powered by <a href="http://www.allbuttonspressed.com/projects/django-nonrel">Django-nonrel</a>,
        <a href="http://code.google.com/appengine/">App Engine</a>, and
        <a href="http://www.allbuttonspressed.com/projects/allbuttonspressed">All Buttons Pressed</a>
      </p>
    </div>

    {% block js %}
    {% endblock %}
  </body>
</html>
