<!DOCTYPE html>
{% load media cms blog google_cse google_analytics %}
<html dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
      lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} | {{ site_name }}</title>
    {% block blogfeeds %}
      {% blog_feeds %}
    {% endblock %}
    {% block css %}
      {% include_media 'main.css' %}
    {% endblock %}

    {% block preload_js %}
      {% google_analytics_code %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
  </head>

  <body>
    <div id="header">
      <a id="logo" href="/"><img alt="All Buttons Pressed" src="http://lh5.ggpht.com/_8v0Ka-uUQOY/S7yqfkqywAI/AAAAAAAAAFk/2yLtGysnSiU/logo%20%282%29.png" /></a>
      {% google_search_form %}
      <ul class="menu">
        {% show_menu %}
      </ul>
    </div>

    <div class="columns">
      <div id="content" class="column">
        {% block content-header %}
          {% if error %}<div class="error">{{ error }}</div>{% endif %}
          {% if info %}<div class="info">{{ info }}</div>{% endif %}
          {% if messages %}
            {% for message in messages %}
              <div class="info">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endblock %}

        <div id="cse" style="width:100%; display:inline;"></div>

        {% block content %}{% endblock %}
      </div>

      <div id="sidebar" class="column">
        {% block sidebar %}
          {% show_block 'sidebar' %}
        {% endblock %}
      </div>
    </div>

    <div id="footer">
      <p>
        Copyright {% now "Y" %} {{ site_copyright }}<br />
        Powered by <a href="http://www.allbuttonspressed.com/projects/django-nonrel">Django-nonrel</a>,
        <a href="http://code.google.com/appengine/">App Engine</a>, and
        <a href="http://www.allbuttonspressed.com/projects/allbuttonspressed">All Buttons Pressed</a>
      </p>
    </div>

    {% block js %}
    {% endblock %}
  </body>
</html>
